@charset "UTF-8";

body, html {
	text-align:conter;
}

header, nav, section, iframe, footer {
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	height: 100px;
	background: rgb(192, 192, 192);
}
footer {
	height: 70px;
	background: rgb(128, 128, 128);
	color: #fff;
}

nav {
	height: 30px;
	background: rgb(0, 0, 0);
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	width: 170px;
}
nav a {
	color: #fff;
	text-decoration: none;
}

section {
	background: #fff;
	border: 0;
}
section iframe {
	height: 400px;
	border: 0;
}
pre {
	text-align: left;
}
table {
	margin: auto;
}
